<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="vradb"
			 connectionString="Data Source=COOLZ\SQLEXPRESS; 
			 Initial Catalog=LoadDB;  
			 User ID=coolz; 
			 Password=123"
		providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>